.App {
  text-align: center;
}

.Card1 {
  margin: 50px auto;
  padding: 15px;
  max-width: 450px;
  border: 2px solid rgb(123, 123, 236);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Card2 {
  margin: 150px auto;
  padding: 15px;
  max-width: 450px;
  border: 2px solid rgb(123, 123, 236);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img1 {
  width: 200px;
  height: 250px;
}
hr {
  border: none;
  border-top: 3px double rgb(84, 84, 170);
  color: rgb(84, 84, 170);
  overflow: visible;
  text-align: center;
  height: 5px;
}
/* navbar */
.Navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  max-height: 80px;
  color: rgb(135, 88, 180);
  background-color: rgb(155, 190, 179);
  font-weight: bold;
}
/* 
main tage */
.div-add {
  position: absolute;
  right: 0px;
  margin-right: 15px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: rgb(84, 84, 170);
}
.drop {
  cursor: pointer;
}
.todo-card {
  position: relative;
  width: 180px;
  margin-top: 15px;
  height: 140px;
  background-color: rgb(169, 196, 187);
  display: table-column;
  border-radius: 15px;
}

.todo-card:hover {
  background-color: rgb(146, 155, 152);
  cursor: pointer;
}

/*main */
.Main1 {
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 88vh;
  flex-wrap: wrap;
  display: flex;
}
.Date-tilte {
  display: flex;
}
.Fun {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.btn1 {
  border: none;
  background-color: antiquewhite;
  border-radius: 3px;
  display: none;
}
.animated {
  border: none;
  background-color: antiquewhite;
  display: inline;
  border-radius: 20%;
}

.animated:hover {
  background-color: rgb(6, 107, 6);
  border-radius: 5px;
}
